body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(125deg, #0081C9, #00A681);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.coming-soon {
    text-align: center;
    background-color: linear-gradient(125deg, #0081C9, #00A681);
    border-radius: 5px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    transform: translateX(-50%);

}

.logo {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 60px;
    font-style: normal;
    color: #22303e;
}

.logo img {
    height: 60px;
    width: auto;
}

h1 {
    font-size: 90px;
    margin-bottom: 20px;
    color: #22303e;
}

p {
    font-size: 30px;
    margin-bottom: 20px;
    color: #22303e;
}

form {
    display: flex;
    justify-content: center;
}

input[type="email"] {
    width: 100%;
    max-width: 200px;
    padding: 15px;
    margin-right: 10px;
    border-radius: 25px;
    outline: none;
    border: black;
    
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #22303e;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.social-media {
    position: fixed;
    top: 40%;
    transform: translateY(-30%);
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media a {
    padding: 20px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.social-media img {
    width: 50px;
    height: 50px;
}

.social-media a:hover {
    background-color: #364e80;
}

.social-media img {
    width: 40px;
    height: 2
}

.button {
    padding: 10px 20px;
    background-color: #3b5998;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #364e80;
}

.dots-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
    z-index: 1000;

}

.dot {
    width: 40px;
    height: 40px;
    background: #22303e;
    display: inline-block;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    margin: 0px 7px;
    position: relative;

}

.dots-cont:hover>.dot {
    position: relative;
    bottom: 0px;
    animation-name: jump;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.dots-cont .dot-1 {
    -webkit-animation-delay: 200ms;
    animation-delay: 100ms;
}

.dots-cont .dot-2 {
    -webkit-animation-delay: 400ms;
    animation-delay: 200ms;
}

.dots-cont .dot-3 {
    -webkit-animation-delay: 600ms;
    animation-delay: 300ms;
}

@keyframes jump {
    from {
        bottom: 0px
    }

    to {
        bottom: 40px
    }
}

@-webkit-keyframes jump {
    from {
        bottom: 0px
    }

    to {
        bottom: 30px
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px; 
    text-align: center; 
    line-height: 40px; 
    background-color: linear-gradient(125deg, #0081C9, #00A681);
}